@font-face {
	font-family: 'MuseoSansCyrl-300';
	src: url('../font/MuseoSansCyrl-300.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSansCyrl-900';
	src: url('../font/MuseoSansCyrl-900.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSansCyrl-500';
	src: url('../font/MuseoSansCyrl-500.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSansCyrl-700';
	src: url('../font/MuseoSansCyrl-700.otf');
	font-weight: normal;
	font-style: normal;
}