body{
	overflow-x: hidden;
}
body,p{
	font-family: 'MuseoSansCyrl-300';
	font-size: 14px;
	color: #4a4b4b;
}
a{
	color: #000;
	text-decoration: none;
	font-family: 'MuseoSansCyrl-300';
	font-size: 14px;
}
a:hover{
	text-decoration: underline;
}
.hidden{
	opacity:0;
}
.visible{
	opacity:1;
}
h1{
	color: #0c4068;
	font-size: 25px;
	font-family: 'MuseoSansCyrl-500';
	font-weight: normal;
	margin: 30px 0 !important;
}
h2{
	color: #0c4068;
	font-size: 25px;
	font-family: 'MuseoSansCyrl-500';
	font-weight: normal;
	margin: 30px 0 !important;
}
.green{
	color: #25B709;
}
#wrap{

}
.block-wrap{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
#header,
#content,
#footer{
	overflow: hidden;
}
#content{
    background-color: #ecf0f3;
}
.button,
.button a{
	cursor: pointer;
	display: block;
	text-decoration: none !important;
}
input[type="submit"]{
	cursor: pointer;
}

body.right-sidebar .field-content{
	width: 720px;
	float: left;
}
.sidebar-right {
	float: right;
	width: 260px;
	margin: 35px 0 0 0;
}
/**************************************Формы**************************************/
.form-title{
	font-size: 34px;
	text-align: center;
	font-family: 'MuseoSansCyrl-700';
	display: none;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	margin: 80px 0 60px;
}
#form2{
	background: #0C4068;
	overflow: hidden;
	padding: 30px 0;
}
#form2 .ajaxForm{
	width: 400px;
	margin: 0 auto;
}
#form2 .title{
	font-size: 20px;
	font-family: 'MuseoSansCyrl-500';
	text-align: center;
	padding: 10px 0 20px;
	color: #fff;
}
#form2 input[type="text"]{
	font-weight: lighter;
	border: 1px solid #4A708E;
	background: transparent;
	text-align: center;
	color: #FFF;
	padding: 6px 0;
	margin: 10px auto;
	border-radius: 3px;
	text-transform: uppercase;
	width: 300px;
	display: block;
}
#form2 button[type="submit"]{
	background: #EFAA25;
	color: #000;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 5px 8px;
	font-family: 'MuseoSansCyrl-300';
	cursor: pointer;
	float: right;
	margin: 0 50px 0 0;
}
#form2 button[type="submit"]:hover{
	background: #BC851B;
}

/**/
/********************************Header********************************/
.my_btn{
    background: #EFAA25;
    color: #000;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 12px 4px;
    font-family: 'MuseoSansCyrl-300';
    text-align: center;
}
.auth_in{
    color: white;
    text-decoration: underline;
    margin-top: 15px;
    display: block;
    width: 200px;
    float: left;
}
.name {
    float: left;
    margin: 15px 0;
}
.name a{
	color: #fff;
}

.h-top{
	background: #0C4068;
	height: 44px;
}
#form1{
	float: left;
	margin: 6px 0;
}
#form1 input[type="email"],
#form1 input[type="password"]{
	background: none;
	border: 1px solid #4B718F;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	width: 110px;
	padding: 5px 10px;
	margin: 0 5px 0 0;
}
#form1 input[type="submit"],
#form1 a{
	background: #EFAA25;
	color: #000;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 6px 12px 4px;
	font-family: 'MuseoSansCyrl-300';
	text-align: center;
}
#form1 input[type="submit"]:hover,
#form1 a:hover{
	background: #CA8E1B;
}

.help{
	float: left;
	margin: 15px 140px;
}
.help a{
	color: #fff;
	background-image: url(../images/img1.png);
	background-position: 0 center;
	background-repeat: no-repeat;
	padding: 0 0 0 16px;
}

#search {
	float: right;
	margin: 9px 0;
}
#search input[type="text"]{
	background-image: url(../images/img2.png);
	background-position: 95% center;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	background-color: transparent;
	color: #fff;
	padding: 4px 0;
}
#search input[type="text"]:hover,
#search input[type="text"]:focus{
	border: 1px solid #4B718F;
}
#search input[type="submit"]{
	background: none;
	border: none;
	color: #fff;
	font-size: 14px;
	font-family: 'MuseoSansCyrl-300';
	padding: 0;
}

#logo {
	float: left;
	padding: 14px 0;
}

.h-bottom .text{
	float: left;
	margin: 10px 0 0 30px;
}
.h-bottom .block1{
	float: left;
	margin: 17px 0 17px 50px;
}
.h-bottom .block1 li{
	display: block;
	float: left;
}
.h-bottom .block1 a{
	float: left;
	border: 1px solid #E4E7EB;
	color: #0c4068;
	padding: 9px 16px 9px 24px;
	margin: 0 6px;
	border-radius: 3px;
	background-image: url(../images/img3.png);
	background-position: 7px center;
	background-repeat: no-repeat;
}
.h-bottom .block1 a.active{
	color: #25B709;
}
.h-bottom .block1 a:nth-child(2){
	background-image: url(../images/img4.png);
}
.h-bottom .contacts{
	float: right;
	margin: 10px 0 0 0;
}
.h-bottom .contacts .telephone{
	font-size: 22px;
	color: #0c4068;
	margin: 0 0 6px 0;
}
.h-bottom .contacts .btn1{
	color: #0c4068;
	float: right;
}
/**********************************menu**********************************/
.menu-title{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: 'MuseoSansCyrl-700';
	font-size: 34px;
	display: block;
	margin: 60px 0 20px;
	display: none;
}
#menu{
	background: #25B709;
	overflow: hidden;
}
#menu ul{

}
#menu ul li{
	float: left;
	text-align: center;
}
#menu ul li:last-of-type{
	margin-right: 0;
}
#menu ul li a{
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'MuseoSansCyrl-900';
	padding: 20px 19.7px;
	display: block;
	text-decoration: none;
}

#menu ul li a:hover{
	background: #36C71A;
}
.current-menu-item{
    background: #36C71A;
}

/****************************Content Home****************************/
.inlineblock{
	width: 100%;
}
.region1{
	overflow: hidden;
	margin: 25px 0 25px 0;
}
#video{
	float: left;
}
#video .youtube{
	background-image: url(../images/bg1.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	width: 719px !important;
	height: 339px !important;
	cursor: pointer;
	position: relative;
}
#video .youtube:before{
	content: '';
	background-image: url(../images/play.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	width: 78px;
	height: 79px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 42%;
}
#video .youtube:hover{
	opacity: 0.9;
}
.region1 .flexslider{
	position: relative;
}
.region1 .flexslider .block{
	padding: 20px;
}
.region1 .flexslider{
	float: right;
	width: 263px;
	height: 339px;
	background-image: url(../images/bg2.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
}
.region1 .flexslider .title{
	font-family: 'MuseoSansCyrl-500';
	color: #fff;
	font-size: 30px;
	margin: 0 0 20px 0;
}
.region1 .flexslider .date{
	font-family: 'MuseoSansCyrl-900';
	color: #fff;
	margin: 0 0 20px 0;
}
.region1 .flexslider .date p {
    color: #fff;
}
.region1 .flexslider .body{
	color: #fff;
	margin: 0 0 20px 0;
}
.region1 .flexslider .body p {
    color: #fff;
}
.region1 .flexslider .more a{
	background: #EFAA25;
	color: #050505;
	font-size: 12px;
	padding: 11px 23px;
	display: inline-block;
	border-radius: 3px;
}
.region1 .flexslider .flex-control-nav{
	bottom: 5px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 20;
}
.region1 .flexslider .flex-control-nav li{
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.region1 .flexslider .flex-control-nav a{
	width: 9px;
	height: 9px;
	display: block;
	text-indent: -9999px;
	border-radius: 50%;
	border: 1px solid #fff;
	cursor: pointer;
}
.region1 .flexslider .flex-control-nav a.flex-active,
.region1 .flexslider .flex-control-nav a:hover{
	background: #25B709;
	border: 1px solid transparent;
}
/**/
.region2{
	overflow: hidden;
	margin-bottom: 25px;
}
.prem{
	background: #0C4068;
	overflow: hidden;
	width: 719px;
	float: left;
}
.prem .block{
	border: 1px solid #D79F2C;
	overflow: hidden;
	margin: 8px;
	padding: 13px 8px;
}
.prem .block .row{
	float: left;
	margin: 0 11px;
}
.prem .block .row .field-img{
	height: 33px;
}
.prem .block .row .field-body{
	color: #fff;
	font-size: 12px;
}
#reg a{
	float: right;
	background-image: url(../images/bg3.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	width: 265px;
	height: 123px;
	display: block;
}
#reg a .block{
	padding: 20px;
}
#reg .title{
	color: #0c4068;
	text-transform: uppercase;
	font-family: 'MuseoSansCyrl-700';
	margin-bottom: 20px;
}
#reg .btn-reg{
	background: #EFAA25;
	color: #050505;
	font-size: 12px;
	padding: 11px 23px;
	display: inline-block;
	border-radius: 3px;
}
/**/
.region3{
	overflow: hidden;
}
.region3 .news .title-block{
	background: #08263D;
	color: #fff;
	overflow: hidden;
	padding: 10px 20px;
}
.region3 .news .title-block .left{
	float: left;
}
.region3 .news .title-block .right{
	float: right;
}
.region3 .news .content{
	height: 200px;
	overflow-y: scroll;
}
.region3 .news .row{
	overflow: hidden;
	background: #D8D8D8;
	padding: 10px 30px;
	border-top: 1px solid #fff;
}
.region3 .news .row:nth-child(2n+2){
	background: #E7E7E7;
}
.region3 .news .row .field-title{
	background-image: url(../images/img11.png);
	background-position: 0 center;
	background-repeat: no-repeat;
	float: left;
	padding: 0 0 0 16px;
}
.region3 .news .row .field-time{
	float: right;
}
.btn-all-news{
	background: #EFAA25;
	color: #050505;
	font-size: 14px;
	padding: 11px 23px;
	display: inline-block;
	border-radius: 3px;
	margin: 20px 0 0 0;
}
/**/
.front .triptych{
	background: #F1F4F6;
	padding: 30px 0;
	/*margin: 30px 0 0;*/
}
.front .triptych .region4 .text1{
	float: left;
	width: 50%;
}
.front .triptych .region4 .text2{
	float: left;
	width: 50%;
}
.front .triptych .region4 .text1 .field-title,
.front .triptych .region4 .text2 .field-title{
	font-size: 20px;
	font-family: 'MuseoSansCyrl-500';
	color: #0c4068;
	margin-bottom: 20px;
}
.front .triptych .region4 .text1 .field-body,
.front .triptych .region4 .text2 .field-body{
	color: #4a4b4b;
	line-height: 19px;
	padding: 0 40px 0 0;
}
/*Footer*/
#footer{
	background: #0E1922;
	padding: 0 0 40px 0;
	margin: 60px 0 0 0;
}
.front #footer{
	margin: 0;
}
#footer .block1{
	float: left;
	margin: 30px 0 0 0;
}
#footer .block1 .text-logo{
	color: #fff;
	margin: 0 0 0 93px;
}

#footer .block2{
	float: left;
	margin: 40px 0 0 80px;
}
#footer .block2 .menu{
	width: 440px;
	overflow: hidden;
}
#footer .block2 .menu ul li{
	float: left;
	width: 220px;
	margin: 0 0 10px 0;
}
#footer .block2 .menu ul li a{
	color: #fff;
	text-transform: uppercase;
}

#footer .block3{
	float: right;
	margin: 45px 0 0 0;
}
#footer .block3 .contacts{
	float: right;
	margin: 10px 0 0 0;
}
#footer .block3 .contacts .telephone{
	font-size: 22px;
	color: #fff;
	margin: 0 0 6px 0;
}
#footer .block3 .contacts .btn1{
	color: #fff;
	float: right;
}

#footer .block4{
	color: #2d3e4c;
	float: left;
	width: 100%;
	margin: 40px 0;
}

#footer .block5 {
	float: left;
	width: 100%;
	overflow: hidden;
}
#footer .block5 .left{
	float: left;
	color: #fff;
}
#footer .block5 .right{
	float: right;
	color: #fff;
}
#footer .block5 .right a{
	color: #0C4068;
}

/************************************Аналитика************************************/
.anal .row{
	float: left;
	overflow: hidden;
	margin-bottom: 40px;
}
.anal .row .field-title{
	color: #0c4068;
	font-size: 16px;
	font-family: 'MuseoSansCyrl-500';
	margin-bottom: 20px;
}
.anal .row .field-video{
	margin-bottom: 20px;
	float: left;
}
.anal .row .field-body p {
	float: left;
    max-width: 720px;
}
.entrance {
	overflow: hidden;
	float: left;
	width: 100%;
	margin-bottom: 25px;
}
.entrance .left{
	color: #0c4068;
	font-family: 'MuseoSansCyrl-700';
	font-size: 15px;
	float: left;
	margin: 9px 0 0 0;
}
.entrance .right{
	float: right;
}
.entrance .right a{
	background: #EFAA25;
	color: #000;
	border: none;
	border-radius: 3px;
	padding: 9px 12px 9px;
	font-family: 'MuseoSansCyrl-300';
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.entrance .right a:hover {
	background: #CA8E1B;
}
.an-news .row{
	float: left;
	margin-bottom: 40px;
	overflow: hidden;
}
.an-news .row .block1{
	margin-bottom: 20px;
	overflow: hidden;
}
.an-news .row .field-img{
	width: 68px;
	height: 68px;
	float: left;
	overflow: hidden;
	margin-right: 10px;
}
.an-news .row .field-title{
	clear: left;
	margin-bottom: 20px;
}
.an-news .row .field-title a{
	font-size: 16px;
	color: #0c4068;
	font-family: 'MuseoSansCyrl-500';

}

/***********************************Клуб трейдеров***********************************/
.club-block-2{
	margin-top: 40px;
}
.club-block-2 .row{
	float: left;
	margin: 0 131px 0 0;
}
.club-block-2 .row-3{
	margin-right: 0;
}
.club-block-2 .row .field-num{
	float: left;
	color: #fff;
	background: #0C4068;
	border-radius: 50%;
	padding: 10px 0;
	width: 38px;
	text-align: center;
	margin: 0 10px 0 0;
}
.club-block-2 .row .field-title{
	float: left;
	margin: 4px 0 0 0;
}


/************************************Инвесторам************************************/
.investor-block-2{
	margin-top: 40px;
}
.investor-block-2 .text{
	float: left;
	width: 48%;
	margin-right: 2%;
}


/********************************Контакты********************************/
#map{
	float: left;
	margin: 0 20px 0 0;
}
.contacts .row{
	margin-bottom: 20px;
}
.contacts .label{
	font-size: 16px;
	color: #14466D;
	font-family: 'MuseoSansCyrl-500';
	margin: 0 0 10px 0;
}
.contacts .row .body{
	font-size: 15px;
}


/*******************************О нас*******************************/
.about-block-1{
	margin-bottom: 20px;
}


/***********************************Обучение***********************************/
.training .triptych{
	background: #F1F4F6;
	border-top: 1px solid #E8EDF1;
	padding: 0 0 40px 0;
	margin-top: 30px;
}
.training #footer{
	margin: 0;
}
.training-block-1{
	margin-bottom: 20px;
}
.kursi .row{
	float: left;
	background: #fff;
	border: 1px solid #E9EDF0;
	width: 158px;
	margin: 0 12px;
	padding: 20px 10px;
	height: 230px;
}
.kursi .row-1{
	margin-left: 0;
}
.kursi .row-5{
	margin-right: 0;
}
.kursi .row .field-title{
	font-size: 16px;
	color: #205074;
	margin-bottom: 20px;
}
/*mob*/
.mob-btn1,
.mob-btn2 a{
	color: #fff;
	margin: 15px 2%;
	float: left;
	display: none;
	cursor: pointer;
}
/*********************Стр - Регистрация*********************/
.block-registration{
	border: 1px solid #33BB18;
	overflow: hidden;
	border-radius: 3px;
}
.block-registration form{
	overflow: hidden;
	padding: 50px;
	position: relative;

}
.block-registration form .left{
	float: left;
}
.block-registration form .right{
	float: right;
}
.block-registration form .label{
	float: left;
	font-family: 'MuseoSansCyrl-500';
	color: #0c4068;
	width: 120px;
	margin: 6px 0 0 0;
}
.block-registration form .field-form{
	margin-bottom: 20px;
}
.field-form.birth {
	margin-bottom: 30px !important;
}
.block-registration form input[type="text"],
.block-registration form input[type="email"]{
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	padding: 9px 10px;
	width: 253px;
}
.block-registration form select{
	border: 1px solid #DEDEDE;
	padding: 9px 24.7px 9px 13px;
	border-radius: 3px;
	background-image: url(../images/img17.png);
	background-position: 93% center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'MuseoSansCyrl-500';
	color: #0c4068;
}
.block-registration form .checkbox1 {
	margin: 0 0 0 117px;
	width: 278px;
	font-family: 'MuseoSansCyrl-500';
	color: #0c4068;
}
.block-registration form #checkbox1 {
	float: left;
	margin-right: 20px;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
}
.block-registration form input[type="submit"]{
	background: #EFAA25;
	border: none;
	display: block;
	float: left;
	margin: 30px 0 0 119px;
	padding: 13px 69px;
	border-radius: 5px;
	font-family: 'MuseoSansCyrl-500';
}
.block-registration form input[type="submit"]:hover{
	background: #C38C21;
}
.block-registration form .inf{
	position: absolute;
	left: 63px;
	bottom: 60px;
	font-family: 'MuseoSansCyrl-500';
	color: #0c4068;
}
/********************************Стр логин Инд. Курсы********************************/
.login #content{
	background: #ECF0F3;
}
.login #footer{
	margin-top: 0;
}
.courses {
	padding: 20px 0;
}
.courses .row{
	background: #fff;
	border: 1px solid #E0E5E9;
	margin: 20px 0;
	display: table;
	padding: 20px 20px;
}
.courses .row .bl-1{
	display: table-cell;
	vertical-align: middle;
}
.courses .row .field-date{
	font-size: 10px;
	margin-bottom: 5px;
}
.courses .row .field-title{
	font-size: 16px;
	font-family: 'MuseoSansCyrl-500';
}
.courses .row .bl-2{
	display: table-cell;
	padding: 0 50px;
	vertical-align: middle;
}
.courses .row .bl-3{
	display: table-cell;
	width: 220px;
	vertical-align: middle;
}
.courses .row .bl-3 .field-price{

	float: left;
}
.courses .row .bl-3 .field-price .p-1{
	margin-bottom: 4px;
}
.courses .row .bl-3 .field-price .p-2{
	color: #25b709;
	font-size: 16px;
	font-family: 'MuseoSansCyrl-500';
}
.courses .row .bl-3 .buy{
	float: right;
}
.courses .row .bl-3 .buy a{
	background: #EFAA25;
	font-family: 'MuseoSansCyrl-500';
	padding: 8px 21px;
	display: block;
	border-radius: 3px;
	text-decoration: none;
}
.courses .row .bl-3 .buy a:hover{
	background: #CA942B;
}
/*******************************Стр логин Клуб трейдеров*******************************/
.tr-club{
	overflow: hidden;
	margin: 0 0 30px 0;
}
.tr-club .period{
	background: #08263D;
	color: #fff;
	padding: 26px 0;
	margin-top: 30px;
	margin-bottom: 20px;
	display: table;
	width: 100%;
}
.tr-club .block1{
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 30px;
}
.tr-club .block2{
	display: table-cell;
	vertical-align: middle;
	width: 112px;
}
.tr-club .period-time{
	overflow: hidden;
}
.tr-club .period-time .row{
	background: #fff;
	display: table;
	width: 100%;
	height: 68px;
	margin: 0 0 11px 0;
}
.tr-club .period-time .row .field-date{
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #0c4068;
	font-family: 'MuseoSansCyrl-500';
	padding: 0 0 0 30px;
}
.tr-club .period-time .row .field-price{
	display: table-cell;
	vertical-align: middle;
	color: #25b709;
	font-family: 'MuseoSansCyrl-500';
	font-size: 16px;
	width: 112px;
}
/*******************************Стр логин Инвесторам*******************************/
.inv-club{
	overflow: hidden;
	margin: 0 0 30px 0;
}
.inv-club .period{
	background: #08263D;
	color: #fff;
	padding: 26px 0;
	margin-top: 30px;
	margin-bottom: 20px;
	display: table;
	width: 100%;
}
.inv-club .block1{
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 3%;
	width: 32%;
}
.inv-club .block2{
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	text-align: center;
}
.inv-club .block3{
	display: table-cell;
	vertical-align: middle;
	width: 19%;
}
.inv-club .conditions{
	overflow: hidden;
}
.inv-club .conditions .row{
	background: #fff;
	display: table;
	width: 100%;
	height: 68px;
	margin: 0 0 11px 0;
}
.inv-club .conditions .row .field-price{
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #0c4068;
	font-family: 'MuseoSansCyrl-500';
	padding: 0 0 0 3%;
	width: 32%;
}
.inv-club .conditions .row .field-percentage{
	display: table-cell;
	vertical-align: middle;
	color: #25b709;
	font-family: 'MuseoSansCyrl-500';
	font-size: 16px;
	width: 150px;
	text-align: center;
}
.inv-club .conditions .row .field-date{
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #0c4068;
	font-family: 'MuseoSansCyrl-500';
	width: 19%;
}
/*Инвесторские программы*/
.program{
	overflow: hidden;
	margin-bottom: 60px;
}
.program .row{
	float: left;
	border: 1px solid #DEE2E4;
	width: 313px;
	margin: 0 13px;
}
.program .row-1{
	margin-left: 0;
}
.program .row-3{
	margin-right: 0;
}
.program .row .field-title{
	color: #25b709;
	font-size: 20px;
	font-family: 'MuseoSansCyrl-500';
	padding: 10px 20px;
}
.program .row .field-body{
	color: #4a4b4b;
	padding: 10px 20px 20px;
	width: 80%;
	height: 33px;
}
.program .row form {
	background: #E8EBED;
	padding: 15px 20px;
	overflow: hidden;
}
.program .row form .f-title{
	background-image: url(../images/img18.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	font-size: 18px;
	color: #0c4068;
	font-family: 'MuseoSansCyrl-500';
	padding: 0 0 0 25px;
}
.program .row form .summ{
	float: left;
	width: 60%;
}
.program .row form .tit{
	color: #0c4068;
	margin: 10px 0;
}
.program .row form .time{
	float: left;
	width: 40%;
}
.program .row form .label{
	float: left;
	width: 23px;
	margin: 6px 0 0 0;
}
.program .row form .field-form-1,
.program .row form .field-form-2{
	margin-bottom: 10px;
}
.program .row form input[type="text"]{
	border: 1px solid #E2E5E7;
	border-radius: 4px;
	width: 75%;
	padding: 4px 0;
}

.program .row .total{
	padding: 30px 20px;
}
.program .row .total .block1{
	font-size: 18px;
	color: #0c4068;
	font-family: 'MuseoSansCyrl-500';
	margin-right: 10px;
}
.program .row .total .block2{
	font-size: 18px;
	color: #25b709;
	font-family: 'MuseoSansCyrl-500';
}
.program .row .total .kap{
	margin: 10px 0;
}
/*******************************Стр логин Обучение*******************************/
.tra-club{
	overflow: hidden;
	margin: 0 0 30px 0;
}
.tra-club .period{
	background: #08263D;
	color: #fff;
	padding: 26px 0;
	margin-top: 30px;
	margin-bottom: 20px;
	display: table;
	width: 100%;
}
.tra-club .block1{
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 3%;
	width: 32%;
}
.tra-club .block2{
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	text-align: center;
}
.tra-club .block3{
	display: table-cell;
	vertical-align: middle;
	width: 19%;
}
.tra-club .conditions{
	overflow: hidden;
}
.tra-club .conditions .row{
	background: #fff;
	display: table;
	width: 100%;
	height: 68px;
	margin: 0 0 11px 0;
}
.tra-club .conditions .row .field-price{
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #0c4068;
	font-family: 'MuseoSansCyrl-500';
	padding: 0 0 0 3%;
	width: 32%;
}
.tra-club .conditions .row .field-percentage{
	display: table-cell;
	vertical-align: middle;
	color: #25b709;
	font-family: 'MuseoSansCyrl-500';
	font-size: 16px;
	width: 150px;
	text-align: center;
}
.tra-club .conditions .row .field-date{
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #0c4068;
	font-family: 'MuseoSansCyrl-500';
	width: 19%;
}





































@media screen and (max-width: 999px){
	.page-title,
	h2 {
		padding: 0 0 0 2% !important;
	}
	.mob-btn1,
	.mob-btn2,
	.mob-btn2 a,
	.menu-title{
		display: block;
	}
	html,
	body {
		height: 100%;
		overflow-x: hidden;
	}
	.block-wrap{
		width: 100%;
		min-width: 360px;
		margin: 0 auto;
		overflow: hidden;
	}
	/******************************Вход форма******************************/
	#form1 {
		position: fixed;
		margin: 0;
		float: none;
		background: #0C4068;
		width: 100%;
		height: 100%;
		z-index: 50;
		overflow-y: scroll;
		transform: translate(-100%);
		-webkit-transition-duration: .4s;
		-o-transition-duration: .4s;
		transition-duration: .4s;
	}
	#form1 .close{
		background-image: url(../images/close.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
		width: 50px;
		height: 50px;
		position: absolute;
		right: 1%;
		top: 10px;
		display: block !important;
		cursor: pointer;
	}
	.form-title{
		display: block;
	}
	#form1 input[type="email"], #form1 input[type="password"] {
		background: none;
		border: 1px solid #4B718F;
		color: #fff;
		font-size: 14px;
		border-radius: 3px;
		width: 90%;
		padding: 16px 2%;
		margin: 13px auto;
		display: block;
		text-align: center;
	}
	#form1 input[type="submit"],
	#form1 a{
		background: #EFAA25;
		color: #000;
		border: none;
		border-radius: 3px;
		padding: 12px 2% 12px;
		font-family: 'MuseoSansCyrl-300';
		width: 94%;
		margin: 0 auto;
		display: block;
	}
	.help{
		display: none;
	}
	#search{
		margin-right: 10px;
	}
	#search input[type="text"] {
		border: 1px solid rgba(255, 255, 255, 0.23);
		width: 100px;
	}
	.h-bottom .text,
	.h-bottom .block1,
	.h-bottom .contacts{
		display: none;
	}
	.h-bottom.mob,
	.h-bottom.mob .block1,
	.h-bottom.mob .contacts{
		display: block !important; 
	}

	.h-bottom .contacts {
		float: right;
		margin: 20px 1% 20px 0;
	}
	.h-bottom .block1 {
		float: left;
		width: 100%;
		margin: 0 !important;
	}
	.h-bottom .block1 a {
		float: none;
		border: 1px solid #E4E7EB;
		color: #0c4068;
		padding: 9px 0 9px 0;
		margin: 7px auto;
		border-radius: 3px;
		background-image: url(../images/img3.png);
		background-position: 15px center;
		background-repeat: no-repeat;
		width: 90%;
		text-align: center;
		display: block;
	}

	/**************************Меню**************************/
	.menu-open {
		margin: 0 0 0 2%;
		cursor: pointer;
		float: left;
	}
	.menu-open span{
		width: 33px;
		height: 4px;
		background: #fff;
		margin: 8px 0;
		display: block;
	}
	.menu-link .close{
		display: block !important;
	}
	.menu-link {
		position: fixed;
		background: #25B709;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 50;
		overflow-y: scroll;
		transform: translate(-100%);
		-webkit-transition-duration: .4s;
		-o-transition-duration: .4s;
		transition-duration: .4s;
	}
	#menu ul li {
		float: none;
		text-align: center;
	}
	#menu ul li a {
		padding: 11px 19.7px;
	}
	.menu-link .close{
		background-image: url(../images/close.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
		width: 50px;
		height: 50px;
		position: absolute;
		right: 0;
		top: 0;
		display: block !important;
		cursor: pointer;
	}
	#logo{
		margin-left: 2%;
	}

	/*Главная видео*/
	.front #video{
		float: none;
		width: 100%;
	}
	#video iframe{
		width: 100% !important;
	}
	#video .youtube {
		width: 100% !important;
		background-size: cover;
	}
	.region1 .flexslider {
		float: left;
		width: 100%;
		background-size: 100%;
		margin: 20px 0 0 0;
	}
	.prem{
		display: none;
	}
	#reg{
		display: none;
	}
	.region3 .news .row .field-title {
		background-image: url(../images/img11.png);
		background-position: 0 center;
		background-repeat: no-repeat;
		float: left;
		padding: 0 0 0 16px;
		width: 60%;
	}
	.btn-all-news {
		margin: 20px 0% 0 2%;
	}
	.front .triptych .region4 .text1,
	.front .triptych .region4 .text2{
		float: none;
		width: 90%;
		margin: 0 auto 20px;
	}
	#footer .block1 .text-logo{
		display: none;
	}
	#footer .block2{
		display: none;
	}
	#footer .block1 {
		float: left;
		margin: 0 0 10px 0;
		border-bottom: 1px solid #1D272F;
		width: 100%;
		padding: 20px 0 14px 2%;
	}
	#footer .block3 {
		float: left;
		margin: 0;
		width: 100%;
		padding: 0 0 20px 2%;
		border-bottom: 1px solid #1D272F;
	}
	#footer .block3 .contacts {
		float: left;
		margin: 10px 0 0 0;
	}
	#footer .block3 .contacts .btn1 {
		color: #fff;
		float: left;
	}
	#footer .block4 {
		color: #2d3e4c;
		float: left;
		width: 100%;
		margin: 20px 0;
		padding: 0 0 19px 2%;
		border-bottom: 1px solid #1D272F;
	}
	#footer .block5 {
		float: left;
		width: 100%;
		overflow: hidden;
		margin: 0 0 0 2%;
	}
	#footer .block5 .left {
		float: left;
		color: #fff;
		margin: 0 0 20px 0;
	}
	#footer .block5 .right {
		float: left;
		color: #fff;
		clear: left;
	}
	/******************************Стр. Аналитика******************************/
	body.right-sidebar .field-content {
		width: 100%;
		float: left;
	}
	.anal .row{
		width: 100%;
	}
	.field-video,
	#video{
		float: none !important;
	}
	.anal .row .field-body{
		display: none;
	}
	.sidebar-right {
		float: left;
		width: 96%;
		margin: 0 0;
		padding: 0 2%;
	}
	.an-news {
		height: 250px;
		overflow-y: scroll;
	}
	.entrance{
		display: none;
	}
	.banner {
		width: 100%;
	}
	.banner img{
		width: 100%;
		height: auto;
	}
	/********************Стр. Клуб трейдеров********************/
	.club-block-2 .row {
		float: left;
		margin: 0 0 20px 2%;
		width: 100%;
	}
	/*******************Стр. Инсветорам*******************/
	.investor-block-2 .text,
	.about-block-2,
	.training-block-2{
		float: none;
		width: 90%;
		margin: 0 auto 10px;
	}
	.kursi .row {
		float: none;
		background: #fff;
		border: 1px solid #E9EDF0;
		width: 90%;
		margin: 0 auto 20px !important;
		padding: 20px 10px;
		height: auto;
	}
	#map {
		float: none;
		margin: 0;
		width: 100% !important;
	}
	.contacnt-page .contacts {
		margin: 30px 0 0 0;
	}
	.contacnt-page .contacts .row {
		margin-bottom: 20px;
		padding: 0 0 0 2%;
	}
	/*******************************Стр Регистрация*******************************/
	.block-registration {
		width: 90%;
		margin: 0 auto;
	}
	.block-registration form {
		padding: 3% 0;
	}
	.block-registration form .left,
	.block-registration form .right{
		float: none;
		width: 278px;
		margin: 0 auto;
	}
	.block-registration form .label {
		margin: 6px 0 11px 0;
		width: 100%;
	}
	.block-registration form .inf {
		position: relative;
		left: 0;
		bottom: 0;
		font-family: 'MuseoSansCyrl-500';
		color: #0c4068;
		float: left;
		margin: 20px 0 0 0;
	}
	.block-registration form .checkbox1,
	.block-registration form input[type="submit"]{
		margin: 0 0 20px 0;
	}
	/*****************************Стр Инд. Курсы*****************************/
	.courses .row{
		overflow: hidden;
		width: 86%;
		margin: 0 auto 20px;
		padding: 4% 4%;
	}
	.courses .row .bl-1,
	.courses .row .bl-2,
	.courses .row .bl-3{
		display: block;
		padding: 0;
		margin-bottom: 15px;
	}
	.courses .row .bl-3 .buy a {
		padding: 11px 21px;
	}
	/*Стр логин клуб трейдеров*/
	.tr-club .period{
		width: 90%;
		margin: 30px auto 20px;
	}
	.tr-club .period-time .row{
		width: 90%;
		margin: 0 auto 11px;
	}
	/*Стр логин инвесторам*/
	.inv-club .period{
		width: 90%;
		margin: 30px auto 20px;
	}
	.inv-club .conditions .row{
		width: 90%;
		margin: 0 auto 11px;
	}
	.program .row {
    float: none;
    border: 1px solid #DEE2E4;
    width: 90%;
    margin: 0 auto 15px !important;
	}
	/*Стр логин Обучение*/
	.tra-club .period{
		width: 90%;
		margin: 30px auto 20px;
	}
	.tra-club .conditions .row{
		width: 90%;
		margin: 0 auto 11px;
	}


	.name {
    float: left;
    margin: 15px 0 15px 20px;
}
}
.course-caption{
	color: #0c4068;
	font-size: 18px;
	font-family: 'MuseoSansCyrl-500';
	font-weight: normal;
	margin: 30px 0 !important;
}
.field-content {
	width: 720px;
	float: left;
}